*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
 

}
table{
    
    border: 1px solid black;
   border-collapse: collapse;
   background-color: rgb(238, 252, 248);
}
td, th{
   
    border: 1px solid rgb(100, 201, 172);
    /* padding: 17px 50px; */
    width: 150px;
    height: 50px;
    text-align: center;
    color: rgba(0, 0, 0, 0.637);
}
.cloud{
    position: absolute;
    top: 30px;
}
.cloud b{
    font-weight: 500;
    font-size: 32px;
    color:rgb(217, 207, 19);
}
tr td{
    color: black;
}
tr th{
    color: black;
    font-weight: 800;
    font-size: 17px;
}
